@model SampleModel
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title - Company Name</title>
	<link rel="canonical" href="@CommonFunctionalities.getCanonicalLink()">

	<link rel="stylesheet" href="~/resources/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
