@model SampleModel
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title - Company Name</title>
	<link rel="canonical" href="@CommonFunctionalities.getCanonicalLink()">
</head>
<body>
	@RenderBody()
</body>
</html>
