@model SampleModel


<div id="header">
	<h1>@Model.Title</h1>
</div>

<div id="main">
	<div class="section">
		@Html.Raw(Model.Description)
	</div>
	<div class="section">
		WebSiteURL : @CommonFunctionalities.getWebSiteURL()
	</div>
	

</div>