@model SampleModel


<header>
	<h1>@Model.Title</h1>
</header>

<main>
	<section>
		<div class="well">
			@Html.Raw(Model.Description)
		</div>
		<div class="well">
			WebSiteURL : @CommonFunctionalities.getWebSiteURL()
		</div>
	</section>
</main>
