body {bgcolor:lightblue;}
table {
	align:center;
	border:0;
	width:95%;
}

/*１行目の設定*/
/*１行目の共通設定*/
table tr:first-child td {
	align:right;
}

table tr:first-child td:first-child {
	width:67%;
	height:50;
	align:left;
	colspan:2;
}

table tr:first-child td:nth-child(2) {
	align:right;
}

table tr:first-child td:nth-child(3) {
	height:50;
	align:center;
}

/*２行目の設定*/
/*２行目の共通要素*/
table tr:nth-child(2) td {
	width:33%;
	align:center;
}

table tr:nth-child(2) td:first-child {
	height:50;
}

table tr:nth-child(2) td:nth-child(2) {
	width:34%;
}

/*３行目の設定*/
table tr:nth-child(3) td:first-child {
	height:50;
	align:left;
	colspan:2;
}

table tr:nth-child(3) td:nth-child(2) {
	align:right;
}

