@model NavigationModel

		<div>
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
			@foreach(var nav in Model.NavList){
              <a class="list-group-item" href="@nav.Link">@nav.Title</a>
			} 
            </div>
          </div>
        </div>
