@(username: String, scheduleForm: Form[Schedule])

@import helper._

@main(title = "時間管理システム - スケジュール情報登録") {

<!-- ヘッダー -->
@header()

<div class="row">
  <div class="container">

    <!-- サイドメニュー -->
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="/schedule/search">スケジュール一覧（検索/更新/削除）</a></li>
            <li><a href="/schedule/create">スケジュール登録</a></li>
          </ul>
        </div>
      </div>
    </div>


    <!-- コンテンツ -->
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <div class="row">

        <!-- 見出し -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>スケジュール登録</h1> 
        </div>

        <!-- フォーム -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          @form(routes.ScheduleController.create()) {
            <fieldset>
              <input type="hidden" name="ID" value="0">
              <input type="hidden" name="name" value="@username">
                @username
                @inputText(scheduleForm("date"), '_label -> "日付", 'size -> 30)
                @inputText(scheduleForm("timeFrom"), '_label -> "開始時間", 'size -> 30)
                @inputText(scheduleForm("timeTo"), '_label -> "終了時間", 'size -> 30)
                @inputText(scheduleForm("comment"), '_label -> "備考", 'size -> 30)
            </fieldset>
            <div class="actions">
              <input type="submit" class="btn btn-primary">
              <a href="/schedule/search" class="btn btn-danger">キャンセル</a>
            </div>
          }
        </div>
      </div>
    </div>
 </div>
}