@model List<MyFirstApp.Models.Movie>
@using MyFirstApp.Code.Helpers;

@{
    ViewData["Title"] = "Movie";
}


<h2>@ViewData["Title"].</h2>

<h3>Movie List</h3>
@Html.Raw(MovieHelper.DisplayMovies(Model))
