body {background-image:url("./img/background.png");}
table {align:center;
	   border:0;
	   width:95%;
}
td:nth-child(2n+1){
	width:80%;
	height:50;
	align:left;
	colspan:2;
}
td:nth-child(2n+0){
	width:20%;
	align:right;
}